<%- include('./partials/header.ejs') %>

<body>
    <div class="container justify-content-center text-center align-items-center">
        <h1 class="my-5">404 Page Not Found</h1>
    </div>
</body>

<%- include('./partials/footer.ejs') %> 